* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(65, 65, 65);
}

button {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 5px;
    border: black 2px;
    border-radius: 12px;
    border-style: solid;
}

button:hover {
    cursor: pointer;
}

#iniciarContagem {
    background-color: green;
}

#pausarContagem {
    background-color: rgb(209, 209, 52);
}

#resetarContagem {
    background-color: purple;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.content-box {
    background-color: brown;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 14px;
    border-style: solid;
    border-width: 6px;
}

h1 {
    color: white;
    border-style: solid;
    margin-bottom: 10px;
}